<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equation Solver</title>
    <link href='https://fonts.googleapis.com/css?family=Zen Tokyo Zoo' rel='stylesheet'>
</head>
<style>
body {
  background-color: black;
}

h2 {
  color: #4af626;
}

h1 { font-family: 'Zen Tokyo Zoo';font-size: 75px; color: #4af626;}

textarea {
    font-size: 18px;
}

</style>

<body>
    <div style="text-align:center;">
        <h1>D I A L Ý T I S</h1>
    </div>
    <div style="text-align:center;">
        <h2 style = "font-size: 40px;">Equation :
        <textarea id="entered" name="ent" rows="1.5" cols="40" readonly>{{ entered }}  </textarea><br></h2>
        <h2 style = "font-size: 40px;">Result :
        <textarea id="result" name="res" rows="1.5" cols="40" readonly>{{ result }}  </textarea></h2>
    </div>
</body>
</html>